mujoco==3.3.6
gymnasium-robotics==1.4.2
mink==1.0.0
numpy==2.2.6
Pillow==11.3.0
PyYAML==6.0.2
matplotlib==3.10.5
networkx==3.5
ultralytics==8.4.112
clip @ https://github.com/ultralytics/CLIP/archive/c4b6ea0932a2c0f39a0fa528af5ec4982ff15cab.zip
